
body{
  background-color: red;
  color: #ffff66;
  margin: 0;
}
h1{
 font-family: sans-serif;
}
h2{
 color: :#07c4dd;
 font-family: 'Pacifico';
}
img {
  width: 90%;
  display: block;
  max-width: 350px;
  margin: 20px auto;
}
ul{
margin: 0 32px;
padding: 25px 25px 25px 40px;
}
li {
  padding: 5px;
  margin: 5px;
}
.primary{
color: black;
}
.subtitle{
 color: white;
}
.title{
  color: #ffff66
}
#container{
  width: 90%;
  margin: 0 auto;
  max-width: 750px;
  margin-top: 150px;
}
#navigation{
  width: 100vw;
  background-color: lime;
  position: fixed;
  top: 0;
}
#navigation .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}
#navigation .container > ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  padding: 8px;
}
#navigation .container > ul ul {
display: none;
list-style: none;
position: absolute;
background-color: teal;
left: -74px;
top: 22px;
}
#navigation .container > ul > li{
  position: relative;
}
#navigation .container > ul ul:hover{
  display: block;
}
#navigation .container a:hover + ul{
  display: block;
}

#header{
 border-style: dashed solid;
}
#content{
  background-color: orange;
  font-family: 'Pacifico';
}
#content li:first-child{
  background-color: purple;
}
#content li:nth-child(2){
background-color: gray;
}
#footer{
  color: black;

}
